<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products - Page</title>
</head>
<body>
   <partial name="/Views/Shared/Partials/_ProductPartial.cshtml" model="@Model"/>
   @* @Model - is an Object used to pass data to the View *@
</body>
</html>